<!DOCTYPE html>
<html>
<head>
    <title>Fase 2 </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" media="screen" />
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>        
<body >
    <div class="main-container">
        <div class="header-test-phase">
            <div class="logo-criss">
                <img src="/static/criss_logo.jpeg" alt="logo criss">
                <div>
                    <p>Estudo sobre</p>
                    <h1>Memoria visual</h1>
                </div>
            </div>

            <div class="logo-inst">
                <img src="/static/UNICAMP_logo.png" alt="logo unicamp">
                <img src="/static/logo-ifch.png" alt="logo ifch">
            </div>
        </div>

        <div class="phase2-proceed">
            <h1>Pronto! Você terminou a Etapa 1 do estudo. </h1>
            <p>Clique no botão abaixo para ler as instruções para a Etapa 2.</p>
            <button onclick="window.location.href='/study_phase_next_image';">
                Instruções da Etapa 2
            </button>
        </div>

    </div>
</body>
</html>