<!DOCTYPE html>
<html>
<center>
<head>
    <title>Cognitive Response for Image Stimuli Software</title>
</head>        
<body >
    <h1>CRISS v1.0 - Cognitive Response for Image Stimuli Software</h1>
	<p><img src="/static/criss_logo.jpeg"></p>
    <h1>Bem-vindo ao estudo sobre memória visual</h1>
    <h2>Instruções:</h2>
    <p>Observe a sequência de imagens a seguir com a máxima atenção. 
	Esta parte do estudo dura aproximadamente 6 minutos.</p>
    <button onclick="window.location.href='/study_phase_next_image';">
        INICIAR
    </button>
</body>
</center>
</html>