<!DOCTYPE html>
<html>
<head>
    <title>Fase Teste</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" media="screen" />
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>        
<body >
    <div class="main-container">
        <div class="header-test-phase">
            <div class="logo-criss">
                <img src="/static/criss_logo.jpeg" alt="logo criss">
                <div>
                    <p>Estudo sobre</p>
                    <h1>Memoria visual</h1>
                </div>
            </div>

            <div class="logo-inst">
                <img src="/static/UNICAMP_logo.png" alt="logo unicamp">
                <img src="/static/logo-ifch.png" alt="logo ifch">
            </div>
        </div>


        <div class="etapa2-instructions">
            <div class="etapa2-text">
                <h1>Instruções Etapa 2</h1>
             
                <div>
                    <p> Nessa etapa, serão exibidas imagens novamente, acompanhadas de um questionamento se você se lembra da imagem ou não, conforme exemplo ao lado. Você deve clicar no botão “Sim” ou “Não” para responder e avançar no experimento.</p> <br>
                    <p> O botão "Ponto de checagem" servirá para XXXXXXX. </p> <br>
                    <p>Ao clicar no botão "Continuar" você iniciará a etapa 2, que não tem tempo limite para ser completada.</p> <br>
                </div>

                <div  class="phase2 phase2-sample">
                    <p style="color: white;font-size: 16pt;">Você viu a imagem abaixo durante a primeira etapa do experimento?</p>
                    <img style="height: 300px;" src="/static/img-test.jpg">
                    <div class="buttontable">
                        <button accesskey="s" class="horizontalbuttons" id="yes" >Sim</button>
                        <button accesskey="n" class="horizontalbuttons" id="no" >Não</button>
                        <button accesskey="p" class="horizontalbuttons" id="catch" >Pegadinha</button>
                    </div>
                </div>
             
                <div>
                    <button onclick="window.location.href='/test_phase_next_image';">
                        CONTINUAR
                    </button>
                </div>
            </div>
<!-- 
            <div class="etapa2-box">
                <p>Você viu a imagem abaixo durante a primeira etapa do experimento?</p>
                <img src="/static/img-test.jpg" alt="imagem referencia">
                <div>
                    <button id="sim">Sim</button>
                    <button id="não">Não</button>
                </div>
            </div> -->


        </div>
    </div>

</body>
</html>