<!DOCTYPE html>
<html>
<head>
    <title>Fase Teste</title>
    <link rel="stylesheet" type="text/css" href="/estilos/style.css" media="screen" />
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>        
<body>
    <div class="main-container">
        <div class="header-test-phase">
            <div class="logo-criss">
                <img src="/static/criss_logo.jpeg" alt="logo criss">
                <div>
                    <p>Estudo sobre</p>
                    <h1>Memoria visual</h1>
                </div>
            </div>

            <div class="logo-inst">
                <img src="/static/UNICAMP_logo.png" alt="logo unicamp">
                <img src="/static/logo-ifch.png" alt="logo ifch">
            </div>
        </div>

        <div class="box-final">
            <img src="/static/criss_logo.jpeg">
            <div class="box-text">
                <h1>Parabéns, experimento encerrado.</h1>
                <p> Agradecemos por contribuir com a ciência brasileira. Dúvidas ou questionamentos podem ser direcionados ao email XXX@ifch.unicamp.br.<br> <br>
                Caso queira, você pode visualizar alguns resultados da sua interação com o experimento, clicando no botão abaixo.</p>
                
                <button onclick="window.location.href='/volunteer_report';">
                    Ver meus resultados
                </button>
            </div>

        </div>


    </div>

</body>
</html>