/** 1- Página inicial
Reset de configuração **/
* {
    margin:0;
    padding: 0;
}

/** Estilos básicos **/
body {
    background-color:#a1cf3c;
    margin: 5vh;
}

h1, h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 50%;
}

p, li{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.main-container{
    background-color: white;
    width: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/** Seção Cabeçalho **/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img{
    width: 40px;
    margin: 15px;
    object-fit: contain;
}

.header p{
    color:#30016B;
    font-size: 15px;
}

/** Seção Boas vindas **/
.sub-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 15px;
}

.sub-text p{
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    line-height: 50%;
}

.sub-text h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 80%;
    color: #a1cf3c;
}

/** Seção Instruções **/
.instructions {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.instructions img{
    width: 350px;
    height: 350px;
}

.instructions-container{
    flex-direction: column;
    margin-right: 50px;
}

.instructions-container p{
    margin-bottom: 15px;
}

.instructions-box{
    padding: 10px;
    border: #a1cf3c 1px solid;
    border-radius: 15px;
}

.instructions-box h2{
    text-transform: uppercase;
    color: #30016B;
    font-weight: 700;
}

.instructions-box ul {
    list-style-type: none;
}

.instructions-box li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.instructions-box li p{
    vertical-align: middle;
    margin: 0 10px;
}

.circle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 12px;
    background: #a1cf3c;
}

td{
    vertical-align: middle;
}


/** Seção Botão **/

.proceed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F8F5F5;
    padding: 20px 50px;
    margin-top: 15px;
}

.proceed .btn{
    margin-left: 50px;
}

button{
    background-color:#30016B;
    border: none;
    color: white;
    text-align: center;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

/** 3- Página de finalização fase 1 
Seção Orientações **/

.phase2-proceed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 400px; /* <-- gambiarra aqui, SORRY  */
}

.phase2-proceed h1{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.phase2-proceed p{
    margin-bottom: 20px;
}

.phase2-proceed button{
    margin-bottom: 20px;
    padding: 5px 20px;
    text-transform: uppercase;
}

/** 3- Página de instruções para classificação de imagens 
Seção header **/

.phase2-sample {
    background-color: #000;
    padding: 20px 0;   
}

.header-test-phase{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-test-phase img{
    width: 40px;
    margin: 15px;
    object-fit: contain;
}

.header-test-phase p{
    text-transform: uppercase;
    font-style: italic;
    font-size: 15px;
    line-height: 65%;
}

/**.header-test-phase h1{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
    line-height: 95%;
    color: #a1cf3c;
}**/

.logo-criss{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-criss img{
    width: 70px;
}

/** Seção Instruções **/
.etapa2-instructions{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 1px;
}
.phase2-sample {
  margin: 20px 0;
}
.etapa2-text{
    justify-content: left;
    margin-right: 30px;
}

.etapa2-instructions h1{
    text-transform: uppercase;
    font-weight: 700;
    color:#30016B;
}

.etapa2-instructions button{
    margin-top: 5px;
    padding: 5px 35px;
}

/**.etapa2-box{
    background-color: rgb(241, 240, 240);
    font-style: italic;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100vw;
    margin: 15px 15px;
    padding: 20px 10px;
}**/

.etapa2-box img{
    width: 30vh;
    margin: 5px;
}

#yes{
    background-color: #5da319;;
    padding: 5px 20px;
    text-transform: uppercase;
}

#no{
    background-color: red;
    padding: 5px 20px;
    text-transform: uppercase;
}

#catch{
    background-color: orange;
    padding: 5px 20px;
    text-transform: uppercase;
}

/** 4- Página de classificação das imagens
Seção header **/

.phase2{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phase2 p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.phase2 img{
    height: 60vh;
    margin-bottom: 20px;
}

.horizontalbuttons{
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 20px;
    width: 210px;
}

#ponto{
    background-color: lightgray;
}

/** 5- Página do resultado final
Seção mensagem final **/

.box-final{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F5F5;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

.box-text{
    margin-left: 30px;
    margin-right: 30px;
}

.box-text h1{
    text-transform: uppercase;
    font-weight: 700;
    color: #30016B;
}

.box-text button{
    margin-top: 30px;
    text-transform: uppercase;
    background-color: #a1cf3c;
    color: #30016B;
    padding: 5px 20px;
    font-size: 20px;
}

/** 6- Página de relatório **/
.container-infos{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.infos-text{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.infos-text h1{
    text-transform: uppercase;
    font-weight: 700;
    color: #30016B;
    font-size: 25px;
}

.infos-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F5F5;
    justify-content: space-around;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
    flex-direction: row;
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    border: #a1cf3c solid 0.5px;
    border-radius: 10px;
    width: 170px;
    height: 170px;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.box h2{
    color: #a1cf3c;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.box h1{
    color: #30016B;
    font-weight: 700;
    font-size: 60px;
}

.box p{
    color: #30016B;
    font-weight: 400;
    font-family: 'Poppins';
    text-transform: uppercase;
    line-height: 0px;
}

.table th{
    background-color: #30016B;
    color: #a1cf3c;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.table td{
    background-color: white;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 700;
    border: #a1cf3c solid 0.2px;
    color: #30016B;
    text-align: center;
    text-transform: uppercase;
}

.table .img-category{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 15px;
    padding-left: 10px;
    color: #a1cf3c;
    font-weight: 400;
}